<div class="container">
  <app-sticker class="sticker" 
    [data] = sticker
    [stickerTypes] = "stickerTypes"
    *ngFor="let sticker of stickers"
  (stickerDelete) = "deleteSticker($event)"
  (stickerEdited) = "editSticker($event)"></app-sticker>
  <div>
    <app-sticker-create-panel [stickerTypes] = "stickerTypes" (stickerCreated) = "createSticker($event)">
    </app-sticker-create-panel>
    <app-sticker-type-control-panel (stickerTypeEdited) = "typeEdit()" (stickerTypePosted) = "typeEdit()" (stickerTypeDeleted) = "typeEdit()" [stickerTypes] = "stickerTypes">
    </app-sticker-type-control-panel>
  </div>
</div>